#fisiologia-page{
    margin: 0;
    background-color: #FAFAFA;
}

#backward-buttons{
    z-index: 10;

    position: fixed;
    bottom: 15px;    
    right: -100px;       

    opacity: 0;
    transition: right 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

#backward-buttons.show{
    opacity: 1;
    right: 5px;
}

#backward-buttons > ul{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 10px;
    gap: 15px;
    border: none;
    list-style-type: none;
}

.fa-house{
    background-color: #4DC141;
    font-size: 20px;
    padding: 6px;
    aspect-ratio: 1/1;
    color: white;
    border: 2px solid var(--font-green);
    border-radius: 50%;
    box-shadow: 4px 4px 8px #063f00c0;
}

.fa-arrow-rotate-left{
    justify-self: flex-end;
    background-color: #ff0000;
    padding: 8px;
    aspect-ratio: 1/1;
    font-size: 40px;
    color: white;
    border: 2px solid #3b0101;
    border-radius: 50%;
    box-shadow: 4px 4px 8px #3b0101d2;
    margin-right: 10px;
}

#backward-buttons ul > li > a > i:hover{
    transform: scale(1.2);
}

.aulas > li{
    border: 1px solid black;
    border-radius: 15px;
    margin-bottom: 20px;
    list-style: none;;
    overflow: hidden;
}

.titulo-aula{
    margin: 0;
    background-image: linear-gradient(to left,rgb(238, 158, 158),rgba(238, 158, 158, 0.06)) ;
    padding: 15px;
}

.card{
    padding: 10px;
}

.card p{
    text-indent: 20px;
}