.main-page{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    margin: 10px;
}

.welcome{
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.logo{
    margin-bottom: 10px;
    width: 100%;
    max-width: 500px;
    min-width: 250px;
}

.main-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.curso-btn{
    background-color: var(--red);
    width: 150px;
    text-align: center;
    color: white;
    padding: 8px;
    text-decoration: none;
    font-weight: bolder;
    border-radius: 3px;
}

.curso-btn>span{
    padding: 2px 5px;
    border-bottom: 2px solid white;
 
}

.curso-btn:hover{
    background-color: var(--dardred);
}

@media (orientation: landscape) and (max-height: 600px) {
    .main-page{
        place-items: center;
        min-height: 100dvh;
        margin: 0;
    }

    .logo{
        max-width: 250px;
    }
}

@media (orientation: portrait){
    .main-page{
        place-items: center;
        min-height: 100dvh;
        margin: 0;
    }
}