#welcome-page{
    flex-direction: column;

    margin: 10px;
}

.logo{
    width: 100%;
    max-width: 500px;
    min-width: 250px;

    margin-top: 50px;
    margin-bottom: 10px;
}

.welcome-info{
    flex-direction: column;
    gap: 10px;

    width: 100%;
}

.welcome-form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 20px;

    background-image: linear-gradient(var(--blue2), var(--blue3));
    width: 300px;
    max-width: 90%;
    
    padding: 20px 50px;
    border-radius: 20px;
}

.welcome-form label{
    color: white;
}

.welcome-form button{
    grid-column: 2;
    justify-self: end;

    background-image: linear-gradient(var(--green1), var(--green2));

    width: auto;

    color: forestgreen;

    padding: 3px 10px;
    border-radius: 1000px;
}

.disabled{
    display: none;
}

.entrar-btn{
    background-color: var(--red2);

    color: white;
    text-decoration: none;

    padding: 5px 15px;
    border-radius: 5px;
}

@media (orientation: landscape) and (max-height: 600px) {
    .logo{
        max-width: 200px;
        margin-top: 20px;
    }

    .welcome-form{
        gap: 10px;
        width: 300px;
        border-radius: 5px;
    }
}

@media (orientation: portrait){

}